body{
		margin: 0;
		font: 12px "微软雅黑";
	}
	p{
		margin: 0;
	}
	a{
		text-decoration: none;
	}
	#section{
		position: absolute;
		top: -340px;
		left: 60%;
		margin-top: -170px;
		width: 470px;
		height: 340px;
		transition: top 1s ease-in-out,transform 0.80s ease-in-out 0s;
		/*perspective: 1500px;*/
		transform-style: preserve-3d;
		background: #FFFFFF;
		backface-visibility: visible;
		z-index: 1000;
		transform: translateZ(750px);
	}
	#section.ry-90{
		transform: rotateY(-180deg);
	}
	#section.ry-90 #login{
		z-index: 0;
	}
	#login{
		/*display: none;*/
		width: 470px;
		height: 340px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		transform: rotateY(0);
    	/*transition: all 0.80s ease-in-out 0s;*/
    	background: #FFFFFF;
	}
	.enter{
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		color: #000;
	}
	.warn{
		text-align: center;
		color: #000;
		line-height: 30px;
		font-size: 14px;
	}
	.mark{
		width: 270px;
		height: 40px;
		margin: 20px 0 0 80px;
		font-size: 14px;
		padding-left: 10px;
		display: block;
		border: 1px solid #C2C3CA;
	}
	.btn{
		width: 282px;
		height: 40px;
		margin: 20px 0 0 80px;
		font-size: 18px;
		background: #86ce2f;
		color: #fff;
	}
	.options{
		padding: 20px 0 0 35px;
	}
	.dealSelect{
		float: left;
		width: 14px;
		height: 14px;
		border: 1px solid #3b97f5;
		background: url(../img/ico.png) no-repeat ;
		background-position: 0 -270px ;
	}
	.dealSelect.active{
		background-position: 0 -320px ;
	}
	.alert-tip {
		display: block;
		position: fixed;
		position: -ms-device-fixed;
		left: 50%;
		top: -50px;
		margin-left: -150px;
		width: 300px;
		height: 50px;
		background: #05B600;
		border-radius: 5px;
		z-index: 3;
		line-height: 50px;
		text-align: center;
		font-size: 20px;
		color: #fff;
	}
	.deal{
		float: left;
		margin-left: 5px;
		color: #000;
		font-size: 12px;
	}
	.deal:hover{
		text-decoration: underline;
	}
	.forgot{
		float: left;
		margin-left: 10px;
		color: #000;
	}
	.forgot:hover{
		text-decoration: underline;
	}
	.enroll{
		float: left;
		margin-left: 10px;
		color: #000;
	}
	.enroll:hover{
		text-decoration: underline;
	}
	.idea{
		float: left;
		margin-left: 10px;
		color: #000;
	}
	.idea:hover{
		text-decoration: underline;
	}
	.wire{
		float: left;
		width: 1px;
		height: 14px;
		background: #ccc;
		margin: 2px 0 0 10px;
	}
	.content {
		padding-left: 13px;
	}
	.content1{
		display: none;
		font-size: 14px;
		line-height: 192px;
		text-align: center;
	}
	.content2{
		display: none;
		height: 172px;
		
	}
	#login-wrap {
		min-height: 100%;
    	position: relative;
    	
    	transform-style: preserve-3d;
    	/*perspective: 1500px;*/
	}
.wy-header {
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    
}
 .wy-mod-nav{
	width: 1211px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
 .wy-mod-nav h1{
	float: left;
    margin-top: 22px;
    font-family: Arial;
}
.wy-mod-nav h1 a {
    display: block;
    color: #4a8ce3;
    -webkit-tap-highlight-color: transparent;
}
.wy-mod-nav h1 .icon-header-logo {
    display: inline-block;
    width: 81px;
    height: 26px;
    background-image: url(../img/icon-header-logo.png) ;
    background-position: 0px 0px;
    vertical-align: -20px;
    margin-right: 14px;
    margin-left: 14px;
}
.wy-mod-nav-main {
    float: right;
    font-family: "microsoft yahei";
}
.wy-mod-nav-main li {
    float: left;
    height: 80px;
}
.wy-mod-nav-main li a.on, .wy-mod-nav-main li a:hover {
    padding-bottom: 0;
    color: #3091f2;
    text-decoration: none;
}
.wy-mod-nav-main li a {
    display: block;
    line-height: 76px;
    padding: 0 20px 4px;
    font-size: 16px;
    color: #898b8d;
}
.wy-content-ul-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 550px;
    background: #00BFFF;
    z-index: 0;
}

.wy-content-ul {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    zoom: 1;
    width: 100%;
    height: 550px;
}
.wy-content-ul .wy-content-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 550px;
    width: 100%;
    background: #e0f2ff;
}

.wy-content-item .item-bg {
    display: block;
    width: 1280px;
    height: 415px;
    margin: 95px auto 0;
    border: 0;
}
.login-in {
	cursor: pointer;
}
